
<!DOCTYPE html>
<html lang="vi">
<head>
    <title>Tra cứu hóa đơn điện tử</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Assets/css_tracuu/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href=""~/Assets/css_tracuu/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href=""~/Assets/css_tracuu/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href=""~/Assets/css_tracuu/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href=""~/Assets/css_tracuu/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href=""~/Assets/css_tracuu/endor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href=""~/Assets/css_tracuu/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href=""~/Assets/css_tracuu/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href=""~/Assets/css_tracuu/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href=""~/Assets/css_tracuu/css/util.css">
    <link rel="stylesheet" type="text/css" href=""~/Assets/css_tracuu/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <div class="container-contact100" style="background-color: lightblue;">
        <div class="wrap-contact100">
            <div class="contact100-form-title" style="background-image: url(css_tracuu/images/bg-01.jpg);">
                <span class="contact100-form-title-1" style="font-family:verdana;">
                    TRA CỨU HÓA ĐƠN ĐIỆN TỬ AVSOFT-EINVOICE
                </span>

                <span class="contact100-form-title-2" style="font-family:verdana">
                    Hãy điền thông tin hóa đơn ở bên dưới!
                </span>
            </div>

            <form class="contact100-form validate-form">
                <div class="wrap-input100 validate-input" style="font-family:verdana" data-validate="Mã số thuế DN">
                    <span class="label-input100" style="font-family:verdana;">Mst người bán:</span>
                    <input class="input100" type="text" style="font-family:verdana" name="MST" placeholder="Nhập mã số thuế người bán">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" style="font-family:verdana" data-validate="Mã bảo mật tra cứu hóa đơn">
                    <span class="label-input100" style="font-family:verdana">Mã tra cứu:</span>
                    <input class="input100" style="font-family:verdana" type="text" name="TRACUU" placeholder="Nhập mã tra cứu">
                    <span class="focus-input100"></span>
                </div>
                <div>
                    <button style="font-family:verdana">
                        <a href="http://hoadondientu.link/2300243582/2300243582_NH18E_8.pdf" target="_blank">Tra cứu<a />
                    </button>
                </div>
            </form>
        </div>
    </div>
     
    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="css_tracuu/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="css_tracuu/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="css_tracuu/vendor/bootstrap/js/popper.js"></script>
    <script src="css_tracuu/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="css_tracuu/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="css_tracuu/vendor/daterangepicker/moment.min.js"></script>
    <script src="css_tracuu/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="css_tracuu/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="css_tracuu/js/main.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <scr</script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-23581568-13');
	</script>

</body>
</html>
